{# Subir fotos. Variables: url_subida, grande (vista celular), destino ('reporte' o
   'taller'; cada sección tiene el suyo y no se pregunta), placeholder_foto. #}
<div class="subir-fotos {{ 'grande' if grande }}" data-subir-fotos data-url="{{ url_subida }}"
     {% if destino %}data-destino="{{ destino }}"{% endif %}>
  <input name="descripcion_foto" placeholder="{{ placeholder_foto or 'Descripción (opcional): ej. Pastillas gastadas' }}" maxlength="200">
  <div class="botones-foto">
    <label class="btn btn-primary btn-foto"><i class="fa-solid fa-camera"></i> Sacar foto
      <input type="file" accept="image/*" capture="environment" hidden></label>
    <label class="btn btn-foto"><i class="fa-solid fa-images"></i> Elegir de la galería
      <input type="file" accept="image/*" multiple hidden></label>
  </div>
  <div class="cola-fotos"></div>
</div>
