<div class="filters" style="margin-bottom:14px">
  <a class="chip {{ 'active' if request.endpoint in ('stock.lista', 'stock.ficha') }}" href="{{ url_for('stock.lista') }}"><i class="fa-solid fa-boxes-stacked"></i> Repuestos</a>
  <a class="chip {{ 'active' if request.endpoint == 'stock.markups' }}" href="{{ url_for('stock.markups') }}"><i class="fa-solid fa-percent"></i> Markups</a>
  <a class="chip {{ 'active' if request.endpoint == 'stock.ingresos' }}" href="{{ url_for('stock.ingresos') }}"><i class="fa-solid fa-truck-ramp-box"></i> Ingresos</a>
  <a class="chip {{ 'active' if request.endpoint in ('stock.lista_precios', 'stock.lista_precios_revisar') }}" href="{{ url_for('stock.lista_precios') }}"><i class="fa-solid fa-tags"></i> Listas de precios</a>
  <a class="chip {{ 'active' if request.endpoint == 'stock.movimientos' }}" href="{{ url_for('stock.movimientos') }}"><i class="fa-solid fa-right-left"></i> Movimientos</a>
</div>
